* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.container {
  width: 80%;
  margin: 50px auto;
}

.cloneBay {
  display: none;
}

.cloneBay input {
  display: none;
}
